<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/zoomies.js"></script>

  <!-- Styles  -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">

  <!--  Keywords:
          Color palette:
            Xhantous
            ChiliRed
            Celadon
            BlackOpacity
            WhiteBaseColor
          
          Style fonts:
            poppins-thin
            poppins-extralight
            poppins-light
            poppins-regular
            poppins-medium
            poppins-semibold
            poppins-bold
            poppins-extrabold
            poppins-black
            poppins-thin-italic
            poppins-extralight-italic
            poppins-light-italic
            poppins-regular-italic
            poppins-medium-italic
            poppins-semibold-italic
            poppins-bold-italic
            poppins-extrabold-italic
            poppins-black-italic
          
          Default-Styles:
            display-flex-center
-->

  <title>Initializing</title>
  </head>
  
  <body>
    <div class="DOMloading_Page">
      <p>Flavorwell is initializing</p>
      <l-zoomies size="120" stroke="8" bg-opacity="0.1" speed="2.0" color="#E3170A"></l-zoomies>
    </div>
    <script src="/javascripts/index_UI.js"></script>
  </body>
  
  </html>
