<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/zoomies.js"></script>

  <!-- Styles  -->
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">

  <title>Initializing</title>
  </head>
  
  <body>
    <div class="DOMloading_Page">
      <l-zoomies size="120" stroke="8" bg-opacity="0.1" speed="2.0" color="#E3170A"></l-zoomies>
    </div>
    <script src="/javascripts/index_UI.js"></script>
  </body>
  
  </html>
