<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles  -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">

  <!--  Keywords:
          Color palette:
            Xhantous
            ChiliRed
            Celadon
            BlackOpacity
            WhiteBaseColor 
          
          Style fonts:
            poppins-thin
            poppins-extralight
            poppins-light
            poppins-regular
            poppins-medium
            poppins-semibold
            poppins-bold
            poppins-extrabold
            poppins-black
            poppins-thin-italic
            poppins-extralight-italic
            poppins-light-italic
            poppins-regular-italic
            poppins-medium-italic
            poppins-semibold-italic
            poppins-bold-italic
            poppins-extrabold-italic
            poppins-black-italic
          
          Default-Styles:
            display-flex-center
-->

  <title>Get started</title>
</head>
<body>
  <h1 class="default-font poppins-bold">Get started</h1>
</body>
</html>
