<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Viewer</title>
</head>
<body>
    <h1>Recipe Viewer</h1>

    <script src="/javascripts/recipe_viewer_UI.js"></script>
</body>
</html>