<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/select_vegetables.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    
    <header class="header_menu" onclick="history.back()">
        <button class="svg_icon return">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
            </svg>
        </button>
        <h2 class="header_text poppins-semibold">Choosing</h2>
        <div class="svg_icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M22,10c0.32-3.28-4.28-6-9.99-6C6.3,4,1.7,6.72,2.02,10H22z" fill-rule="evenodd"/>
                <path d="M5.35,13.5c0.55,0,0.78,0.14,1.15,0.36c0.45,0.27,1.07,0.64,2.18,0.64 s1.73-0.37,2.18-0.64c0.37-0.23,0.59-0.36,1.15-0.36c0.55,0,0.78,0.14,1.15,0.36c0.45,0.27,1.07,0.64,2.18,0.64 c1.11,0,1.73-0.37,2.18-0.64c0.37-0.23,0.59-0.36,1.15-0.36c0.55,0,0.78,0.14,1.15,0.36c0.45,0.27,1.07,0.63,2.17,0.64v-1.98 c0,0-0.79-0.16-1.16-0.38c-0.45-0.27-1.07-0.64-2.18-0.64c-1.11,0-1.73,0.37-2.18,0.64c-0.37,0.23-0.6,0.36-1.15,0.36 s-0.78-0.14-1.15-0.36c-0.45-0.27-1.07-0.64-2.18-0.64s-1.73,0.37-2.18,0.64c-0.37,0.23-0.59,0.36-1.15,0.36 c-0.55,0-0.78-0.14-1.15-0.36c-0.45-0.27-1.07-0.64-2.18-0.64c-1.11,0-1.73,0.37-2.18,0.64C2.78,12.37,2.56,12.5,2,12.5v2 c1.11,0,1.73-0.37,2.21-0.64C4.58,13.63,4.8,13.5,5.35,13.5z" fill-rule="evenodd"/><path d="M2,16v2c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2v-2H2z" fill-rule="evenodd"/></g></g>
            </svg>
        </div>
    </header>

    <!-- Content -->
    <div class="screen_container">

        <span class="label_scroll_category poppins-semibold">Select your ingredients</span>

        <div class="selector_dynamic_bar">
            <div class="selected_buttons selected_onBar">
                <span class="selected_text poppins-semibold vgt">Vegetables</span>
            </div>
            <div class="selected_buttons">
                <span class="selected_text poppins-semibold">Protein</span>
            </div>
            <div class="selected_buttons">
                <span class="selected_text poppins-semibold">Garrison</span>
            </div>
            <div class="selected_buttons">
                <span class="selected_text poppins-semibold">Extra</span>
            </div>
        </div>

        <!-- Matrix Component -->
        <section class="matrix_ingredients_component">
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/onion.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Onion</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/celery.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Celery</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/corn.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Corn</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/carrot.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Carrot</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/brocoli.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Brocoli</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/avocado.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Avocado</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/lime.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Lemon</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/citrus.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Citrus</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
            <div class="button_container">
                <button class="ingredient_button">
                    <img src="/images/recipe_icons/beef.png" alt="" class="ingredient_img_style">
                </button>
                <span class="name_ingredient poppins-semibold">Beef</span>
                <div class="">
                    <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                </div>
            </div>
        </section>

        <button class="next_category_button poppins-semibold">Next Category</button>

    </div>

    <!-- Navbar component -->
    <nav class="bottom_navbar">
        <div class="nav_icons" id="start">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#FFF"><path d="M160-120v-480l320-240 320 240v480H560v-280H400v280H160Z"/></svg>
        </div>
        <div class="nav_icons" id="recipes">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="30px" fill="#FFF"><rect fill="none" height="24" width="24" y="0"/><path d="M7,20h4c0,1.1-0.9,2-2,2S7,21.1,7,20z M5,19h8v-2H5V19z M16.5,9.5c0,3.82-2.66,5.86-3.77,6.5H5.27 C4.16,15.36,1.5,13.32,1.5,9.5C1.5,5.36,4.86,2,9,2S16.5,5.36,16.5,9.5z M21.37,7.37L20,8l1.37,0.63L22,10l0.63-1.37L24,8 l-1.37-0.63L22,6L21.37,7.37z M19,6l0.94-2.06L22,3l-2.06-0.94L19,0l-0.94,2.06L16,3l2.06,0.94L19,6z"/></svg>        
        </div>
        <div class="nav_icons" id="add">
            <svg xmlns="http://www.w3.org/2000/svg" height="45px" viewBox="0 -960 960 960" width="45px" fill="#FFF"><path d="M453-280h60v-166h167v-60H513v-174h-60v174H280v60h173v166Zm27.27 200q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Z"/></svg>
        </div>
        <div class="nav_icons" id="profile">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#FFF"><path d="M226-262q59-39.67 121-60.83Q409-344 480-344t133.33 21.17q62.34 21.16 121.34 60.83 41-49.67 59.83-103.67T813.33-480q0-141-96.16-237.17Q621-813.33 480-813.33t-237.17 96.16Q146.67-621 146.67-480q0 60.33 19.16 114.33Q185-311.67 226-262Zm253.88-184.67q-58.21 0-98.05-39.95Q342-526.58 342-584.79t39.96-98.04q39.95-39.84 98.16-39.84 58.21 0 98.05 39.96Q618-642.75 618-584.54t-39.96 98.04q-39.95 39.83-98.16 39.83ZM479.73-80q-83.1 0-156.18-31.5-73.09-31.5-127.15-85.83-54.07-54.34-85.23-127.23Q80-397.45 80-480.33q0-82.88 31.5-155.78Q143-709 197.33-763q54.34-54 127.23-85.5T480.33-880q82.88 0 155.78 31.5Q709-817 763-763t85.5 127Q880-563 880-480.18q0 82.83-31.5 155.67Q817-251.67 763-197.33 709-143 635.91-111.5 562.83-80 479.73-80Z"/></svg>        </div>
        <div class="nav_icons" id="settings">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#FFF"><path d="m382-80-18.67-126.67q-17-6.33-34.83-16.66-17.83-10.34-32.17-21.67L178-192.33 79.33-365l106.34-78.67q-1.67-8.33-2-18.16-.34-9.84-.34-18.17 0-8.33.34-18.17.33-9.83 2-18.16L79.33-595 178-767.67 296.33-715q14.34-11.33 32.34-21.67 18-10.33 34.66-16L382-880h196l18.67 126.67q17 6.33 35.16 16.33 18.17 10 31.84 22L782-767.67 880.67-595l-106.34 77.33q1.67 9 2 18.84.34 9.83.34 18.83 0 9-.34 18.5Q776-452 774-443l106.33 78-98.66 172.67-118-52.67q-14.34 11.33-32 22-17.67 10.67-35 16.33L578-80H382Zm98.67-266.67q55.33 0 94.33-39T614-480q0-55.33-39-94.33t-94.33-39q-55.67 0-94.5 39-38.84 39-38.84 94.33t38.84 94.33q38.83 39 94.5 39Z"/></svg>
        </div>
    </nav>

    <script src="/javascripts/select_vegetables_UI.js"></script>
    <script src="/javascripts/navbar_UI.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>