<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/started.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">

    <title>Get started</title>
</head>
<body>
    <div class="started_fullscreen">
        <img class="started_img" src="/images/_UI_img/soup.png" alt="principal img">
        <header class="started_header">
            <h1 class="started_main_text">Cook like <br> a chef</h1>
            <h3 class="started_secondary_text poppins-regular">Your favorite dishes at your <br>fingertips</h3>
        </header>
        <div class="started_button_div">
            <button id="started_render_button" class="started_button poppins-bold">Get started</button>
        </div>
    </div>
    <script src="/javascripts/started_UI.js"></script>
</body>
</html>