<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/sucessful.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">

    <title>Success</title>
</head>
<body>
    
    <div class="sucessful_screen">

        <img src="/images/_UI_img/img_succesful.png" alt="">
        <p class="poppins-regular regular_text">Come in and enjoy</p>

        <h1 class="poppins-bold">mmmmmmmmmmmmmmm</h1>
        <p class="poppins-regular signup_text">Sign up successful</p>

        <button id="sucess_button" class="poppins-semibold">Back to Login</button>

    </div>

    <script src="/javascripts/success_UI.js"></script>
</body>
</html>