<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/user_dashboard.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>

    <!-- Header container -->
    <header class="header_dashboard">
        <div class="flv_div">
            <img class="logo_small" src="/images/_UI_img/logo_small.png" alt="">
            <h1 class="header_text poppins-semibold">Flavorwell</h1>
        </div>
        <div class="profile_header">
            <svg class="svg_profile" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
        </div>
    </header>

    <div class="label_carousel">
        <p class="label_carousel_new poppins-bold">Explore new recipes</p>
    </div>

    <div class="flavorwell_carousel">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- Borrar los cuatro elementos y crear vista de partir de la base de datos -->
                <div class="carousel-item active">
                    <img src="/images/_img_recipe/rusian_salad.jpg" class="d-block w-100 flv_img_carousel" alt="...">
                    <div class="carousel-caption">
                        <h1 class="recipe_name poppins-semibold">Rusian Salad</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" class="flv_icon_carousel" viewBox="0 -960 960 960"><path d="M200-160q-50 0-85-35t-35-85v-200h561q5-34 27-59.5t54-36.5l185-62 25 76-185 62q-12 4-19.5 14.5T720-462v182q0 50-35 85t-85 35H200Zm-23-400q14-36 4.5-64T149-680q-33-40-43.5-75.5T102-840h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Z"/></svg>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/images/_img_recipe/fruits_juice.jpg" class="d-block w-100 flv_img_carousel" alt="...">
                    <div class="carousel-caption">
                        <h1 class="recipe_name poppins-semibold">Fruit Juice</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" class="flv_icon_carousel" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-160q-50 0-85-35t-35-85v-200h561q5-34 27-59.5t54-36.5l185-62 25 76-185 62q-12 4-19.5 14.5T720-462v182q0 50-35 85t-85 35H200Zm-23-400q14-36 4.5-64T149-680q-33-40-43.5-75.5T102-840h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Z"/></svg>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/images/_img_recipe/fried_fish.jpg" class="d-block w-100 flv_img_carousel" alt="...">
                    <div class="carousel-caption">
                        <h1 class="recipe_name poppins-semibold">Fried Fish</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" class="flv_icon_carousel" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-160q-50 0-85-35t-35-85v-200h561q5-34 27-59.5t54-36.5l185-62 25 76-185 62q-12 4-19.5 14.5T720-462v182q0 50-35 85t-85 35H200Zm-23-400q14-36 4.5-64T149-680q-33-40-43.5-75.5T102-840h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Z"/></svg>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="label_carousel">
        <p class="label_carousel_search poppins-bold">Do you search something ?</p>
    </div>

    <section class="input_section">
        <div class="search_container">
            <div class="icon_search">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
            </div>
            <input type="search" name="" id="" placeholder="Search recipes" class="input_search">
        </div>
    </section>

    <div class="label_carousel">
        <p class="label_carousel_search poppins-bold">Food categories</p>
    </div>

    <div class="category_buttons">
        <button class="cat_button btn_vegan">
            <img class="img_button_cat" src="/images/_img_recipe/vegan_cat.jpg" id="vegan_button">
            <span class="text_category poppins-medium">Vegan</span>
        </button>
        <button class="cat_button btn_desserts">
            <img class="img_button_cat" src="/images/_img_recipe/dessert_cat.jpg" id="desserts_button">
            <span class="text_category poppins-medium">Desserts</span>
        </button>
        <button class="cat_button btn_drinks">
            <img class="img_button_cat" src="/images/_img_recipe/drink_cat.jpg" id="drinks_button">
            <span class="text_category poppins-medium">Drinks</span>
        </button>
        <button class="cat_button btn_breakfast">
            <img class="img_button_cat" src="/images/_img_recipe/breakfast_cat.jpg" id="breakfast_button">
            <span class="text_category poppins-medium">Breakfast</span>
        </button>
    </div>

    <div class="label_carousel">
        <p class="label_carousel_search poppins-bold label_food_day">Food of the day</p>
    </div>
    
    <!-- Los valores de las imagenes y el nombre de los platillos se deben de extraer de la DB -->
    <section class="recommended_food">
        <div class="day_food day_breakfast">
            <img class="card_img_style" src="/images/_img_recipe/breakfast_cat.jpg" alt="">
            <div class="dish_name">
                <h2 class="recipe_day_name">Default_text</h2>
            </div>
            <div class="icon_category day_breakfast">
                <svg xmlns="http://www.w3.org/2000/svg" class="category_icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-120q-33 0-56.5-23.5T160-200v-342q-37-22-58.5-58.5T80-680q0-66 47-113t113-47h480q66 0 113 47t47 113q0 43-21.5 79.5T800-542v342q0 33-23.5 56.5T720-120H240Zm212-172q12 11 28.5 11t27.5-11l120-120q12-12 12-28.5T628-468L508-588q-11-12-27.5-12T452-588L332-468q-11 11-11 27.5t11 28.5l120 120Zm28-84-64-64 64-64 64 64-64 64Z"/></svg>
            </div>
        </div>
        <div class="day_food day_dessert">
            <img class="card_img_style" src="/images/_img_recipe/dessert_cat.jpg" alt="">
            <div class="dish_name">
                <h2 class="recipe_day_name">Default_text</h2>
            </div>
            <div class="icon_category day_dessert">
                <svg xmlns="http://www.w3.org/2000/svg" class="category_icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-80q-17 0-28.5-11.5T120-120v-160q0-33 23.5-56.5T200-360h560q33 0 56.5 23.5T840-280v160q0 17-11.5 28.5T800-80H160Zm40-360v-120q0-33 23.5-56.5T280-640h160v-58q-18-12-29-29t-11-41q0-15 6-29.5t18-26.5l56-56 56 56q12 12 18 26.5t6 29.5q0 24-11 41t-29 29v58h160q33 0 56.5 23.5T760-560v120H200Z"/></svg>
            </div>
        </div>
        <div class="day_food day_drink">
            <img class="card_img_style" src="/images/_img_recipe/drink_cat.jpg" alt="">
            <div class="dish_name">
                <h2 class="recipe_day_name">Default_text</h2>
            </div>
            <div class="icon_category day_drink">
                <svg xmlns="http://www.w3.org/2000/svg" class="category_icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-120v-80h640v80H160Zm560-520h80v-120h-80v120ZM320-280q-66 0-113-47t-47-113v-400h200v96l-72 58q-2 2-8 16v170q0 8 6 14t14 6h160q8 0 14-6t6-14v-170q0-2-8-16l-72-58v-96h400q33 0 56.5 23.5T880-760v120q0 33-23.5 56.5T800-560h-80v120q0 66-47 113t-113 47H320Z"/></svg>
            </div>
        </div>
        <div class="day_food day_vegan">
            <img class="card_img_style" src="/images/_img_recipe/vegan_cat.jpg" alt="">
            <div class="dish_name">
                <h2 class="recipe_day_name">Default_text</h2>
            </div>
            <div class="icon_category day_vegan">
                <svg xmlns="http://www.w3.org/2000/svg" class="category_icon" height="24" viewBox="0 -960 960 960" width="24"><path d="M450-80q-33 0-66.5-7.5T315-109q12-121 70-226t149-185q-110 56-190.5 148T231-162q-4-3-7.5-6.5L216-176q-47-47-71.5-105T120-402q0-68 27-130t75-110q81-81 210-105.5t362-4.5q18 239-6 364.5T684-182q-49 49-109.5 75.5T450-80Z"/></svg>
            </div>
        </div>
    </section>

    <script src="/javascripts/user_dashboard_UI.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>