.screen_container{
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    height: auto;
}

.card_component{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: var(--BlackBaseColor);
    margin-bottom: 30px;
    padding-right: 10px;
}

.img_style{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 55%;
}

.recipe_information{
    color: var(--WhiteBaseColor);
    position: relative;
    top: -130px;
    right: -20px;
}

.svg{
    fill: var(--WhiteBaseColor);
    width: 50px;
    height: 50px;
    position: relative;
    right: -300px;
    top: -270px;
}

.name_recipe{
    font-size: 28px;
    width: 90%;
}