.recover-password-container{
    width: 100dvw;
    height: 100dvh;
    padding: 25% 8% 4% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.form-recover-password{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recover-title{
    color: var(--ChiliRed);
    font-size: 8dvw;
    margin-bottom: 2dvh;
}

.recover-description{
    color: var(--Xhantous);
    text-align: center;
    font-size: 4dvw;
    width: 80%;
}

.img-recover{
    width: 85%;
    transform: rotate(5.82deg);
}

.input-component-recover-password{
    width: 100%;
}

.recover-button{
    margin-top: 30%;
}