@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --Xhantous: #F7B32B;
    --ChiliRed: #E3170A;
    --ChiliRedDisabled: #e0938e;
    --Celadon: #A9E5BB;
    --BlackOpacity: rgba(0,0,0,0.4);
    --WhiteBaseColor: #FFF;
    --BlackBaseColor: rgb(0,0,0);
    --CandyPink: rgb(245, 54, 105);
    --DarkBlue: rgb(49, 51, 119);
    --DarkGreen: rgb(0, 112, 13);
    --GreySimple: rgb(208, 208, 208);
    --GreyLight: rgb(230, 230, 230);
    --GreyContrast: rgb(179, 179, 179);
    --NightBlue: #2D1E2F;
    --Garrison: rgb(255, 240, 179);
    --LightBlue: #a9b1ff;

    --DarkGreen: #004d3b;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* body{
    padding-bottom: 90px;
    padding-top: 35%;
} */

.header_menu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 12%;
    position: fixed;
    top: 0;
    background-color: var(--Xhantous);
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 3;
}

.svg_icon{
    fill: var(--WhiteBaseColor);
    width: 40px;
    height: 40px;
}

.return{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-style: none;
}

.header_text{
    color: var(--WhiteBaseColor);
    text-align: center;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.bottom_navbar{
    width: 100%;
    height: 70px;
    background-color: var(--Xhantous);
    bottom: 0;
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}