body{
    padding-top: 25%;
    padding-bottom: 10%;
}

.recipe-container{
    width: 100%;
    height: auto;
    padding: 4% 4% 4% 4%;
}

.recipe-card {
    width: 100%;
    height: 20vh;
    background-color: var(--BlackBaseColor);
    border-radius: 1.5vh;
    margin-bottom: 2vh;
}

.recipe-card-author{
    color: var(--WhiteBaseColor);
    font-size: 3vw;
    position: relative;
    margin: 0vw 1vh 0vw 1vh;
    top: -12vh;
}

.recipe-card-text{
    color: var(--WhiteBaseColor);
    font-size: 2.5vh;
    position: relative;
    top: -12vh;
    margin: 0vw 1vh 0vw 1vh;
}

.recipe-card-img{
    width: 100%;
    height: 20vh;
    border-radius: 1.5vh;
    object-fit: cover;
    filter: opacity(0.6);
    position: relative;
}