*{
    font-family: 'Poppins';
}

body{
    padding-bottom: 65px;
    padding-top: 30%;
}

.recipe-viewer-container{
    width: 100%;
    height: auto;
    padding: 4%;
    background-color: var(--WhiteBaseColor);
}

.recipe-viewer-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.recipe-viewer-title{
    color: var(--ChiliRed);
    font-size: 3vh;
    text-align: center;
}

.recipe-viewer-author{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

.recipe-viewer-prefix{
    margin-right: 1vh;
}

.recipe-viewer-image-container{
    width: 100%;
    height: 24vh;
    background-color: grey;
    margin-top: 3vh;
    border-radius: 1.5vh;
}

.recipe-viewer-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5vh;
}

.recipe-viewer-description-container{
    width: 100%;
    height: auto;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recipe-viewer-description-title{
    color: var(--ChiliRed);
    margin-bottom: 1vh;
}

.recipe-viewer-description{
    color: var(--BlackBaseColor);
    font-size: 1.8vh;
    text-align: center;
}

.recipe-viewer-recipe-data-container{
    width: 100%;
    height: 10vh;
    border: 3px solid var(--Xhantous);
    border-radius: 1.5vh;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh;
}

.recipe-viewer-recipe-data{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-viewer-icon{
    font-size: 2.7vh;
    color: var(--Xhantous);
}

.recipe-viewer-details{
    font-size: 1.3vh;
    color: var(--ChiliRed);
    margin-left: 1vh;
}

.recipe-viewer-ingredients-title-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ChiliRed);
    margin-top: 3vh;
}

.recipe-viewer-ingredients-list-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.recipe-viewer-ingredients-item{
    width: 100%;
    height: 8vh;
    background-color: var(--GreyLight);
    border-radius: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2vh;
    margin-bottom: 2vh;
}

.recipe-viewer-ingredients-img-container{
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vh;
    background-color: var(--GreySimple);
}

.recipe-viewer-ingredients-name{
    font-weight: 500;
}

.recipe-viewer-ingredients-img{
    width: 55%;
}

.recipe-viewer-instructions-title-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ChiliRed);
    margin-top: 3vh;
}

.recipe-viewer-instructions-container{
    width: 100%;
    height: auto;
    background-color: var(--GreyLight);
    border-radius: 1.5vh;
    padding: 2vh;
    margin-top: 2vh;
}

ul{
    padding-left: 3vh;
}

li{
    margin-bottom: 1vh;
}

.recipe-viewer-copyright-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
}

.recipe-viewer-copyright-text{
    font-size: 1.5vh;
    color: var(--Grey);
}

.recipe-viewer-status-container{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe-viewer-status{
    width: 50%;
    height: 100%;
}

.status-left{
    display: flex;
    justify-content: start;
    align-items: center;
}

.status-right{
    display: flex;
    justify-content: end;
    align-items: center;
}

.recipe-viewer-status-img{
    width: 4vh;
    height: 4vh;
    border-radius: 50vh;
    object-fit: cover;
    margin-right: 1vh;
}

.svg_profile{
    font-size: 4vh;
    color: var(--Xhantous);
    margin-right: 1vh;
}

.recipe-viewer-status-author{
    color: var(--BlackBaseColor);
    font-size: 1.5vh;
    font-weight: 600;
}

.recipe-viewer-status-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 4vh;
    padding: 5px;
    border-radius: 25vh;
    margin-right: 1vh;
    color: var(--WhiteBaseColor);
    background-color: var(--ChiliRed);
    border-style: none;
}

.counter-icon{
    font-size: 2vh;
}

.recipe-viewer-status-counter{
    font-size: 1.5vh;
    margin-left: 3px;
}

.btn_secondary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--WhiteBaseColor);
    padding: 1vh;
    margin-top: 2vh;
    border-style: none;
    color: var(--ChiliRed);
    font-weight: 600;
}

.comment-arrow{
    margin-top: 0.2vh;
    margin-left: 0.6vh;
}

.comments.hidden {
    display: none;
}

.comment-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    border-color: var(--ChiliRed);
    padding: 0.7vh;
    border-radius: 1vh;
}

.add-comment {
    margin-top: 1.5vh;
}

.add-comment textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
    color: var(--ChiliRed);
    padding: 1vh;
    border-radius: 1vh;
    border-color: var(--Xhantous);
    border-width: 0.3vh;
    margin-bottom: 1vh;
}

.add-comment textarea::placeholder {
    color: var(--ChiliRed);
}

.add-comment textarea:focus {
    outline: none;
}

.btn_primary {
    background-color: var(--ChiliRed);
    padding: 0.5vh 1vh;
    color: var(--WhiteBaseColor);
    border-radius: 0.7vh;
    border-style: none;
}

.comment-img-user {
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    margin-right: 1.5vh;
    object-fit: cover;
}

.comment-username {
    color: var(--ChiliRed);
    font-size: 1.8vh;
}

.comment-date {
    font-size: 1.4vh;
    color: var(--Grey);
    display: flex;
}

.comment-margin{
    margin-left: 0.4vh;
}