*{
    font-family: 'Poppins';
}

ul, ol {
    padding-left: 0 !important;
}

.screen_recipe_register{
    padding: 0% 4% 0% 4%;
    height: auto;
    width: 100%;
}

.title_text_container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 6%;
}

.title{
    font-size: 9vw;
    color: var(--ChiliRed);
}

.desc_text{
    color: var(--Xhantous);
    font-size: 4vw;
    margin-top: 2vh;
}

.form_post_recipe_register{
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.label_text_form{
    color: var(--ChiliRed);
    font-size: 14px;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
}

.custom-select {
    position: relative;
    cursor: pointer;
}

.custom-select-trigger {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: var(--ChiliRed);
    color: var(--WhiteBaseColor);
    font-size: 14px;
    border-style: none;
    border-radius: 10px;
}

.custom-options {
    position: relative;
    display: none; /* Cambiado de 'flex' a 'none' inicialmente */
    flex-direction: column;
    width: 100%;
    margin-top: 8px;
    padding: 0;
    background: var(--WhiteBaseColor);
    border: 2px solid var(--Xhantous);
    color: var(--ChiliRed);
    border-radius: 10px;
    z-index: 2;
}

.custom-options.open {
    display: flex; /* Se muestra como 'flex' cuando se abre */
}

.custom-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid var(--Xhantous);
    font-size: 4vw;
    font-weight: 500;
}

.custom-option img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.custom-option:hover {
    background: var(--Xhantous);
}

.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--WhiteBaseColor);
}

.option_icon{
    width: 3vh;
    height: 3vh;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
}

.vegan{
    color: var(--Celadon);
}

.dish{
    color: var(--NightBlue);
}

.dessert{
    color: var(--CandyPink);
}

.breakfast{
    color: var(--Xhantous);
}

.input_text{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--Xhantous);
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.input_text:focus{
    color: var(--ChiliRed);
    outline: none;
}

.input_text::placeholder{
    color: var(--ChiliRed);
}

.technical_inputs{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.label_text{
    font-size: 10px;
    color: var(--ChiliRed);
}

.technical_input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.technical{
    width: 90%;
    font-size: 11px;
}

.description_recipe{
    height: 12vh;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 12px;
    padding: 1vh 5vh 1vh 1vh;
}

.description-recipe-input-container {
    width: 100%;
    height: auto;
    position: relative; /* Importante para que el botón se posicione respecto a este contenedor */
}

.generate-description-button {
    position: absolute;
    top: 5vh; /* Ajusta según donde quieras colocarlo */
    right: 1vh;
    background-color: var(--ChiliRed);
    color: var(--WhiteBaseColor);
    height: 3.5vh;
    width: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    text-align: center;
    font-size: 1.7vh;
    border-style: none;
}

.generate-description-button:disabled{
    background-color: var(--ChiliRedDisabled);
}


.form_control_file{
    display: none;
}

.post_button_recipe{
    margin-top: 40px;
    width: 100%;
    height: 45px;
    background-color: var(--ChiliRed);
    color: var(--WhiteBaseColor);
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
}
.post_button_recipe:disabled{
    background-color: var(--ChiliRedDisabled);
}

body{
    padding-bottom: 90px;
    padding-top: 25%;
}

.under{
    margin-bottom: 20px;
}

/* Estilos del buscador de ingredientes estilo Notion */
.search-box {
    position: relative;
}

.results-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    background: var(--WhiteBaseColor);
    border: 2px solid var(--ChiliRed);
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 1vh;
}

.ingredient-suggestion {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
    color: var(--ChiliRed);
}

.ingredient-suggestion:hover {
    background-color: var(--GreySimple);
}

.selected-ingredients-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.ingredient-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 8px;
    border: 1px solid var(--Xhantous);
    border-radius: 1vh;
    margin-bottom: 6px;
    background-color: var(--WhiteBaseColor);
    cursor: grab;
    color: var(--ChiliRed);
}

.ingredient-item .drag-handle {
    cursor: grab;
}

.hidden {
    display: none;
}

.ingredient-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.ingredient-name{
    font-weight: 400;
    font-size: 1.8vh;
    margin-left: 1vh;
    color: var(--Grey);
}

.ingredient-img{
    width: 3.5vh;
    height: 3.5vh;
}

.add-icon{
    font-size: 2.5vh;
    color: var(--ChiliRed)
}

.li-img{
    margin-left: 2vh;
}

/* Estilos del componente para agregar instrucciones */

.step-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-input{
    width: 85%;
}

.step-search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-step-btn{
    background-color: var(--Xhantous);
    height: 40px;
    width: 40px;
    color: var(--WhiteBaseColor);
    border-radius: 1vh;
    border-style: none;
    font-size: 3vh;
}

.step-list{
    list-style: none;
}

.step-instruction{
    width: 33vh;
    height: auto;
    overflow-wrap: break-word;
}

.step-instruction-name{
    font-size: 1.6vh;
}

.step-drag{
    margin-right: 5px;
    color: var(--ChiliRed);
    font-size: 1.3rem;
}

.step-delete{
    color: var(--ChiliRed);
    font-size: 1.3rem;
}

.step-item{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--Xhantous);
    background-color: var(--WhiteBaseColor);
    padding: 1vh;
    border-radius: 1vh;
    margin-bottom: 6px;
};

.recipe-register-img-input-container{
    width: 100%;
    height: auto;
}

.file-input-label-style{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-size: 2.5vh;
    border: 2px dashed var(--ChiliRed);
    border-radius: 1.5vh;
    color: var(--ChiliRed);
    margin-top: 1vh;
}

.uploaded {
    border-color: rgb(17, 160, 17);
    background-color: var(--WhiteBaseColor);
    color: var(--Celadon);
}
