.security-code-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5dvh;
}

.input-code{
    background-color: var(--WhiteBaseColor);
    border-color: var(--Xhantous);
    border-style: solid;
    width: 14%;
    height: 6dvh;
    border-width: 3px;
    border-radius: 3vw;
    padding-left: 1.4vh;
    font-weight: 700;
    color: var(--ChiliRed);
    font-size: 3dvh;
}

.input-code::placeholder{
    color: var(--Xhantous);
    font-size: 8vw;
}
.input-code:focus{
    outline-color: var(--Xhantous);
    color: var(--ChiliRed);
}

.security-label{
    text-align: center;
    width: 100%;
    margin-top: 5dvh;
}

.password-warning {
    font-size: 0.9rem;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 4vh;
}

.password-warning.red {
    color: #e63946;
}

.password-warning.yellow {
    color: #f1c40f;
}

.password-warning.green {
    color: #2ecc71;
}

.password-warning.grey {
    color: #505050;
}

.restore-button{
    margin-top: 20%;
}