body{
    padding-top: 30%;
}

.user-settings-container{
    padding: 4%;
    width: 100%;
    height: auto;
}

.user-settings-info-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.user-settings-username-container{
    margin-left: 2vh;
}

.user-settings-username{
    color: var(--ChiliRed);
    font-size: 3.5vh;
}

.user-settings-email{
    color: var(--GreyContrast);
    font-size: 2vh;
}

.user-settings-img-container{
    width: 6.5vh;
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-settings-icon-header{
    color: var(--GreyContrast);
    font-size: 6vh;
}

.user-settings-line-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.user-settings-line{
    width: 80%;
    height: 4px;
    background-color: var(--Xhantous);
    border-radius: 25px;
}

.user-settings-options-container{
    width: 100%;
    height: auto;
}

.user-settings-option{
    width: 100%;
    height: 7vh;
    padding-left: 2vh;
    background-color: var(--GreyLight);
    color: var(--ChiliRed);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 1.5vh;
    margin-bottom: 2vh;
}

.user-settings-option-icon{
    font-size: 2.7vh;
    margin-right: 1.5vh;
}

.user-settings-option-text{
    font-size: 1.7vh;
    color: var(--BlackBaseColor);
}