.container{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--WhiteBaseColor);
    padding: 5% 8% 0 8%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_buttons{
    margin-top: 6dvh;
}

h2{
    color: var(--Xhantous);
    font-size: 6vw;
}

.img_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.logo_img{
    width: 50%;
}

.password-warning {
    font-size: 0.9rem;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 4vh;
}

.password-warning.red {
    color: #e63946;
}

.password-warning.yellow {
    color: #f1c40f;
}

.password-warning.green {
    color: #2ecc71;
}

.password-warning.grey {
    color: #505050;
}

