*{
    font-family: 'Poppins';
}

.started_fullscreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--Xhantous);
    color: var(--WhiteBaseColor);
}

.started_img{
    /* width: 430px; */
    width: 115%;
    rotate: 6.90deg;
}

.started_header{
    width: 100%;
    padding: 0% 7.5% 0% 7.5%;
}

.started_button_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.started_button{
    color: var(--WhiteBaseColor);
    background-color: var(--ChiliRed);
    border-style: none;
    height: 8vh;
    width: 40%;
    border-radius: 18px;
    font-size: 5vw;
}

.started_button:focus{
    border-style: none; 
}

.started_main_text{
    font-size: 18vw;
    line-height: 10vh;
}

.started_secondary_text{
    font-size: 5vw;
    margin-top: 20px;
}