*{
    font-family: 'Poppins';;
}

.started_fullscreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--Xhantous);
    color: var(--WhiteBaseColor);
}

.started_img{
    width: 430px;
    height: 430px;
    rotate: 6.90deg;
}

.started_header{
    width: 85%;
}

.started_button{
    color: var(--WhiteBaseColor);
    background-color: var(--ChiliRed);
    border-style: none;
    height: 67px;
    width: 182px;
    border-radius: 18px;
    font-size: 20px;
    margin-top: 40px;
}

.started_button:focus{
    border-style: none; 
}

.started_main_text{
    font-size: 64px;
    line-height: 70px;
}

.started_secondary_text{
    font-size: 24px;
    margin-top: 20px;
}