*{
    font-family: 'Poppins';
}

body{
    padding-bottom: 10%;
    padding-top: 20%;
}

.header_dashboard{
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 8%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--Xhantous);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flv_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 60%;
}

.welcome-label{
    color: var(--WhiteBaseColor);
    font-size: 3vw;
}

.header_text{
    font-size: 1vw;
    color: var(--WhiteBaseColor);
}

.profile_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username_header{
    font-size: 10px;
    color: var(--ChiliRed);
}

.svg_profile{
    width: 5vh;
    height: 5vh;
    fill: var(--WhiteBaseColor);
    color: var(--WhiteBaseColor);
    font-size: 3.5vh;
}

.img-header-user{
    width: 8vw;
    height: 8vw;
    object-fit: cover;
    border-radius: 50vh;
}

.label_carousel{
    margin-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

.label_carousel_new{
    font-size: 4vw;
    color: var(--Xhantous);
}

.flavorwell_carousel{
    padding-left: 4%;
    padding-right: 4%;
}

.flv_img_carousel{
    height: 190px;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 10px;
    position: relative;
}

.carousel-item{
    background-color: rgba(0, 0, 0);
    border-radius: 13px;
}

.recipe_name{
    color: var(--WhiteBaseColor);
    position: relative;
    right: 30px;
    top: 30px;
    text-align: start;
}

.flv_icon_carousel{
    position: relative;
    fill: var(--WhiteBaseColor);
    left: 130px;
    bottom: 40px;
    width: 30px;
    height: 30px;
}

.label_carousel_search{
    margin-top: 15px;
    color: var(--ChiliRed);
    font-size: 4vw;
}

.input_section{
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    height: auto;
    position: relative;
}

.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.icon_search{
    background-color: var(--Xhantous);
    color: var(--WhiteBaseColor);
    height: 40px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0vh 0vh 10px;
}

.input_search{
    width: 85%;
    height: 40px;
    border-style: solid;
    border-color: var(--Xhantous);
    border-width: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}
.input_search:focus{
    outline-style: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--ChiliRed);
}
.input_search::placeholder{
    color: var(--Xhantous);
}

.category_buttons{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    width: 100%;
    height: auto;
}

.cat_button{
    height: 74px;
    width: 74px;
    background-color: var(--BlackBaseColor);
    border-radius: 10px;
    border-style: none;
}

.text_category{
    color: var(--WhiteBaseColor);
    font-size: 10px;
    position: relative;
    top: -25px;
}

.img_button_cat{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 70%;
}

.label_food_day{
    color: var(--Xhantous);
}

.recommended_food{
    width: 100%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.day_food{
    width: 47%;
    height: 185px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card_img_style{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.day_breakfast{
    background-color: var(--Xhantous);
}

.day_dessert{
    background-color: var(--CandyPink);
}

.day_drink{
    background-color: var(--DarkBlue);
}

.day_vegan{
    background-color: var(--Celadon);
}

.category_icon{
    color: var(--WhiteBaseColor);
    width: 24px;
    height: 24px;
    text-align: center;
}

.icon_category{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
    right: -38%;
    z-index: 2;
}

.recipe_day_name{
    color: var(--WhiteBaseColor);
    font-size: 14px;
    text-align: center;
    z-index: 5;
}

.dish_name{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.recipe_post_container{
    width: 100%;
    height: auto;
    padding: 4% 4% 4% 4%;
}

.card-post-container{
    background-color: var(--GreyLight);
    border-radius: 2vh;
    width: 100%;
    height: auto;
    margin: 5% 0% 5% 0%;
}

.card-post-img{
    width: 100%;
    height: 30vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    margin-bottom: 2vh;
    object-fit: cover;
}

.recipe-posts-label{
    padding: 0% 4% 0% 4%;
    font-size: 4vw;
    font-weight: 700;
    color: var(--Xhantous);
}

.card-post-title{
    color: var(--ChiliRed);
    font-weight: 600;
    padding: 0% 4% 0% 4%;
    font-size: 5vw;
}

.card-post-description{
    color: var(--BlackBaseColor);
    padding: 2% 4% 2% 4%;
    font-size: 3.5vw;
}

.card-post-status{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0% 4% 0% 4%;
}

.card-post-buttons-interaction{
    display: flex;
}

.card-post-buttons-interaction:nth-child(2){
    margin-right: 2vw;
}

.card-post-like-status{
    display: flex;
    width: 20vw;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Xhantous);
    padding: 0vh 2vh 0vh 1.5vh;
    font-size: 2vh;
    border-radius: 25vh;
    font-size: 2.5vh;
    color: var(--WhiteBaseColor);
}

.card-post-like-number{
    font-size: 1.5vh;
}

.card-post-dish-category{
    height: 5vh;
    width: 5vh;
    background-color: var(--Celadon);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vh;
    color: var(--WhiteBaseColor);
    margin-left: 2vw;
}

.action-buttons{
    height: 5vh;
    width: 5vh;
    border-style: none;
    background-color: var(--GreyLight);
    font-size: 3vh;
    color: var(--ChiliRed);
}

.card-post-main-button{
    background-color: var(--ChiliRed);
    width: 92%;
    height: 5.5vh;
    margin: 8% 4% 6% 4%;
    border-radius: 25vh;
    color: var(--WhiteBaseColor);
    border-style: none;
}

/* Estilos del buscador */
.search-modal {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--WhiteBaseColor);
    z-index: 5;
    border: 1px solid var(--GreyLight);
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 2px 6px var(--BlackOpacity);
    border-radius: 2vh;
    margin: 15px 4% 0% 4%;
}

.results-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results-list li {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--GreyLight);
}

.results-list li:hover {
    background: var(--GreyLight);
}

.results-list img {
    width: 5vh;
    height: 5vh;
    object-fit: cover;
    border-radius: 1vh;
    margin-right: 1.5vh;
}

.recipe-name-search-result{
    color: var(--ChiliRed);
    font-weight: 600;
    font-size: 3.5vw;
}

.info-circle-text{
    color: var(--BlackBaseColor);
    font-weight: 600;
    font-size: 3.5vw;
}

.info-circle{
    margin-right: 1vh;
    margin-left: 1vh;
}
