*{
    font-family: 'Poppins';
}

body{
    padding-bottom: 90px;
    padding-top: 37%;
}

.header_dashboard{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 8%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: var(--Xhantous);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flv_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.logo_small{
    width: 50px;
}

.header_text{
    font-size: 25px;
    color: var(--WhiteBaseColor);
    margin-top: 7px;
}

.profile_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username_header{
    font-size: 10px;
    color: var(--ChiliRed);
}

.svg_profile{
    width: 40px;
    height: 40px;
    fill: var(--WhiteBaseColor);
}

.label_carousel{
    padding-left: 4%;
    padding-right: 4%;
}

.label_carousel_new{
    font-size: 13px;
    color: var(--Xhantous);
}

.flavorwell_carousel{
    padding-left: 4%;
    padding-right: 4%;
}

.flv_img_carousel{
    height: 190px;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 10px;
    position: relative;
}

.carousel-item{
    background-color: rgba(0, 0, 0);
    border-radius: 13px;
}

.recipe_name{
    color: var(--WhiteBaseColor);
    position: relative;
    right: 30px;
    top: 30px;
    text-align: start;
}

.flv_icon_carousel{
    position: relative;
    fill: var(--WhiteBaseColor);
    left: 130px;
    bottom: 40px;
    width: 30px;
    height: 30px;
}

.label_carousel_search{
    margin-top: 15px;
    color: var(--ChiliRed);
    font-size: 13px;
}

.input_section{
    padding-left: 4%;
    padding-right: 4%;
}

.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.icon_search{
    background-color: var(--Xhantous);
    height: 40px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input_search{
    width: 85%;
    height: 40px;
    border-style: solid;
    border-color: var(--Xhantous);
    border-width: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}
.input_search:focus{
    outline-style: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--ChiliRed);
}
.input_search::placeholder{
    color: var(--Xhantous);
}

.category_buttons{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    width: 100%;
    height: auto;
}

.cat_button{
    height: 74px;
    width: 74px;
    background-color: var(--BlackBaseColor);
    border-radius: 10px;
    border-style: none;
}

.text_category{
    color: var(--WhiteBaseColor);
    font-size: 10px;
    position: relative;
    top: -25px;
}

.img_button_cat{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 70%;
}

.label_food_day{
    color: var(--Xhantous);
}

.recommended_food{
    width: 100%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.day_food{
    width: 47%;
    height: 185px;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card_img_style{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.day_breakfast{
    background-color: var(--Xhantous);
}

.day_dessert{
    background-color: var(--CandyPink);
}

.day_drink{
    background-color: var(--DarkBlue);
}

.day_vegan{
    background-color: var(--Celadon);
}

.category_icon{
    fill: var(--WhiteBaseColor);
    width: 24px;
    height: 24px;
}

.icon_category{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
    right: -38%;
}

.recipe_day_name{
    color: var(--WhiteBaseColor);
    font-size: 12px;
}

.dish_name{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
