.screen_container{
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 150px;
    position: fixed;
}

.img_component{
    margin-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container{
    width: 185px;
    height: 185px;
    background-color: var(--Celadon);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_reference{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text_container_profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 25px;
}

strong{
    font-size: 14px;
    color: var(--ChiliRed);
}

.inserted_information{
    margin-bottom: 20px;
}

.form_control_file{
    color: var(--ChiliRed);
    font-size: 12px;
    border-radius: 10px;
    margin-top: 10px;
}

.form_control_file::file-selector-button{
    background-color: var(--ChiliRed);
    color: var(--WhiteBaseColor);
    height: 50px;
}

.mb-3{
    height: 40px;
    width: 100%;
}

.style_upload_button{
    background-color: var(--ChiliRed);
    border-radius: 10px;
    border-style: none;
    color: var(--WhiteBaseColor);
    width: 100%;
    height: 50px;
    margin-top: 90px;
}

.button_container{
    width: 100%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
}